* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2c2c2c;
    color: #fff;
    line-height: 1.618;
}

body p {
    color: #9f9f9f;
}

body > section:nth-child(2n+1) {
    background-color: #303131;
}

body > section {
    padding: 80px 0px;
}

.navbar {
    background-color: #2b2c2c;
}
.navbar .nav-link {
    position: relative;
}

.navbar .nav-item.active .nav-link {
    color: #fab634;
}

.navbar .nav-item.active .nav-link:after {
    width: 25px;
}

.navbar .nav-link {
    transition: color 0.5s ease;
}

.navbar .nav-link:hover {
    color: #fab634;
}

.navbar .nav-link:hover:after {
    width: 25px;
}

.navbar .nav-link:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 1rem;
    width: 0px;
    height: 2px;
    background-color: #fab634;
    transition: width 0.5s ease;
}

.section-title {
    color: #cccccc;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 40px;
    padding-bottom: 25px;
    position: relative;
}

.section-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 100px;
    background-color: #fab634;
    transform: translateX(-50%);
}

.section-desc {
    margin-bottom: 30px;
}

.navbar .nav-link {
    color: #fff;
    font-weight: 500;
}

/* Home */
#home {
    padding: 0px;
}

#home img {
    margin-top: 100px;
    width: 100%;
}

#home h1 {
    font-size: 64px;
    font-weight: 600;
}

#home p {
    font-size: 24px;
}

/* About Me */
#about-me {
    color: #fff;
    padding: 100px 0px;
}

/* Services */
#services .card {
    background-color: #2387ed;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

#services .card p {
    color: #fff;
}

/* Work Experiences */
#work-experiences .card {
    color: #747474;
    background-color: #333;
    border-color: #5a5a5a;
    border-radius: 0;
    padding: 30px;
    border-left-width: 1px;
    margin-bottom: 15px;
}

#work-experiences .card h4 {
    color: #fff;
    font-weight: 600;
}

#work-experiences .card p {
    margin-top: 15px;
}

#work-experiences .row > div {
    padding-left: 0;
    padding-right: 0;
}

#work-experiences .row > div:first-child .card {
    border-left-width: 1px;
}

#cta .section-title:after{
    background-color: #fff;
}

#contact-me form label {
    color: #777777;
    text-transform: uppercase;
}

#contact-me form .form-control {
    background-color: #363737;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #777777;
    padding: 25px;
}

#contact-me form .form-group {
    margin-bottom: 30px;
}

#contact-me .contact-info a,
#contact-me .follow-me a {
    color: #9f9f9f;
    transition: color .5s ease;
    line-height: 1.618;
}

#contact-me .contact-info ul {
    list-style-type: none;
    padding-left: 0;
}

#contact-me .contact-info ul li {
    margin-bottom: 30px;
}

#contact-me .contact-info ul a {
    display: flex;
}

#contact-me .contact-info ul a i {
    padding-right: 5px;
}

#contact-me .contact-info a:hover,
#contact-me .follow-me a:hover {
    color: #fab634;
    text-decoration: none;
}

#contact-me .contact-info a:focus,
#contact-me .follow-me a:focus {
    outline: none;
}

#contact-me .follow-me .follow-me-icons {
    display: flex;
    margin-left: -5px;
}

#contact-me .follow-me a {
    color: #9f9f9f;
    padding-left: 5px;
    padding-right: 5px;
}

#latest-works img {
    width: 100%;
}

#latest-works .work-card {
    margin-bottom: 30px;
}

#footer {
    text-align: center;
}

#footer .social-media-cta {
    padding: 60px 15px;
}

#footer .social-media-cta img {
    width: 50px;
    height: auto;
}

#footer .social-media-cta p {
    max-width: 500px;
    margin: 30px auto;
}

#footer .social-media-icons {
    display: flex;
    justify-content: center;
}

#footer .social-media-icons a {
    align-items: center;
    background: #111;
    border-radius: 100%;
    color: #fff;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0px 3px;
    text-decoration: none;
    transition: background-color .5s ease;
    width: 40px;
}

#footer .social-media-icons a:hover {
    background-color: #fab634;
}

#footer .copyright {
    padding: 15px;
    border-top: 1px solid #666;
}
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* md => Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #work-experiences .card {
        border-left-width: 0px;
    }

}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */
