body {
    background-color: #2c2c2c;
    color: #fff;
    line-height: 1.618;
}

body p {
    color: #9f9f9f;
}

body > section:nth-child(2n+1) {
    background-color: #303131;
}

body > section {
    padding: 80px 0px;
}

.navbar .nav-link {
    position: relative;
}

.navbar .nav-item.active .nav-link {
    color: #fab634;
}

.navbar .nav-item.active .nav-link:after {
    width: 25px;
}

.navbar .nav-link {
    transition: color 0.5s ease;
}

.navbar .nav-link:hover {
    color: #fab634;
}

.navbar .nav-link:hover:after {
    width: 25px;
}

.navbar .nav-link:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 1rem;
    width: 0px;
    height: 2px;
    background-color: #fab634;
    transition: width 0.5s ease;
}

.section-title {
    color: #cccccc;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 40px;
    padding-bottom: 25px;
    position: relative;
}

.section-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 100px;
    background-color: #fab634;
    transform: translateX(-50%);
}

.section-desc {
    margin-bottom: 30px;
}

.navbar .nav-link {
    color: #fff;
    font-weight: 500;
}

/* Home Banner */
#home-banner {
    padding: 0px;
}

#home-banner img {
    margin-top: 100px;
    width: 100%;
}

#home-banner h1 {
    font-size: 64px;
}

#home-banner p {
    font-size: 24px;
}

/* About Me */
#about-me {
    color: #fff;
    padding: 100px 0px;
}

/* Services */
#services .card {
    background-color: #2387ed;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

#services .card p {
    color: #fff;
}

/* Work Experiences */
#work-experiences .card {
    color: #747474;
    background-color: #333;
    border-color: #5a5a5a;
    border-radius: 0;
    padding: 30px;
    border-left-width: 0;
}

#work-experiences .card h4 {
    color: #fff;
    font-weight: 600;
}

#work-experiences .card p {
    margin-top: 15px;
}

#work-experiences .row > div {
    padding-left: 0;
    padding-right: 0;
}

#work-experiences .row > div:first-child .card {
    border-left-width: 1px;
}

#cta .section-title:after{
    background-color: #fff;
}

#contact-me form label {
    color: #777777;
    text-transform: uppercase;
}

#contact-me form .form-control {
    background-color: #363737;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #777777;
    padding: 25px;
}

#contact-me form .form-group {
    margin-bottom: 30px;
}

